* {
  margin: 0;
  box-sizing: 0;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 0 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding-top: 24px;
}

.logo_nav {
  margin-left: 24px;
  width: 76px;
  display: inline-block;
}

.image_nav {
  width: 76px;
}

.menu_icon {
  margin-right: 36px;
  height: 12px;
  width: 18px;
}

.nav_menu {
  display: none;
}

.first_section {
  margin-top: 36px;
  background-image: url("images/mobile_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 120px;
  font-size: xxx-large;
  color: #172b4d;
}

.paragraph {
  margin-top: 15px;
  text-align: justify;
  font-size: large;
  font-weight: 400;
  color: #344563;
}

.connect {
  margin-top: 15px;
  color: #7f8cff;
  font-weight: 500;
}

.connect_anchor {
  text-decoration: none;
  color: #7f8cff;
  font-size: medium;
}

.social_icons {
  margin-top: 15px;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
}

.social_icon {
  margin-right: 15px;
}

.icon {
  height: 20px;
}

li {
  list-style: none;
}

.button {
  padding: 15px 20px;
  font-size: large;
  font-style: bold;
  background-color: white;
  color: #396df2;
  border-radius: 10px;
  border: solid #396df2 1px;
}

.button:hover {
  color: white;
  background: #7f8cff;
}

.button:active {
  color: white;
  background: #2230d2;
}

.button:disabled {
  color: #5e6c84;
  background: white;
}

.works-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section {
  background-color: white;
  margin-top: 20%;
  margin-bottom: 10%;
  width: 90%;
  max-width: 720px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.content_card {
  margin: 5%;
}

.image_card {
  margin: 3%;
  width: 94%;
}

.title_card {
  font-size: xx-large;
  color: #172b4d;
}

.subtitle_card {
  display: flex;
  margin-top: 5px;
}

.first_subtitle_card {
  text-transform: uppercase;
  color: #344563;
}

.second_subtitle_card {
  color: #7a869a;
}

.point_icon {
  margin: 3px 10px;
}

.paragraph_card {
  margin-top: 15px;
  color: #344563;
}

.technologies {
  margin: 15px 0;
  padding: 0;
}

.technologies li {
  list-style: none;
  background-color: #ebebff;
  color: #6070ff;
  display: inline;
  margin-right: 5px;
  padding: 0 5px;
  border-radius: 5px;
  font-size: small;
}

.button_card {
  margin-top: 10px;
}

.about_myself_section {
  background-color: white;
  border-radius: 0 50px 0 0;
  padding: 20px 20px 100px 20px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
}

.bottom {
  margin-bottom: 20%;
}

.languages {
  margin: 30px 0;
  margin-left: 20px;
  font-size: x-large;
  font-weight: 500;
}

.language {
  color: #253858;
  margin-left: 20px;
  font-weight: 500;
}

.languages_content {
  padding: 0;
  margin-left: 20px;
}

.languages_content li {
  background-color: #f7f7f9;
  margin: 15px 0;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.line {
  border-bottom: solid #dfe1e6 2px;
  margin-bottom: 0;
}

.second_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow_icon {
  height: 15px;
  padding: 5px;
  width: 10px;
}

.features {
  padding: 0;
}

.arrow_icon_active {
  transform: rotate(90deg);
}

.contact_me_footer {
  background-color: white;
  background-image: url("images/contact_me_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20% 5%;
  color: white;
  text-align: center;
}

.footer_title {
  font-size: xx-large;
  margin-top: 10%;
}

.footer_paragraph {
  font-size: 18px;
  font-style: normal;
  margin: 5% 2%;
}

.input {
  margin: 2%;
  padding: 3% 2%;
  border-radius: 5px;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #172b4d;
  font-weight: 500;
  font-size: medium;
}

.input::placeholder {
  color: #b3bac5;
}

.footer_form {
  display: flex;
  flex-direction: column;
}

.textarea {
  height: 170px;
}

.footer_button {
  width: 40%;
  font-size: 15px;
  margin-left: 2%;
  border: none;
  font-weight: 500;
  margin-top: 3%;
  padding: 5%;
}

@media screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    box-shadow: 1px 1px 100px 1px #d0d3d9;
  }

  .header {
    border-radius: 0 0 0 100px;
  }

  .menu_icon {
    display: none;
  }

  .nav_menu {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-right: 5%;
  }

  .nav_content {
    width: 80%;
  }

  .nav_li_item {
    text-decoration: none;
    color: #344563;
    font-weight: 500;
  }

  .content_header {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 600px;
    margin-left: 5%;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }

  .title_card {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .first_section {
    margin: 10% 3%;
    background-image: url("images/desktop_backgroound.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .main_section {
    background-color: white;
    min-width: 720px;
    max-width: 1500px;
    border-radius: 20px;
    justify-content: space-between;
  }

  .section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .content_card {
    margin: 5%;
    width: 40%;
  }

  .content_image_card {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image_card {
    margin: 4%;
    height: 100%;
  }

  .about_myself_section {
    flex-direction: row;
    padding: 5%;
  }

  .about_me_1 {
    width: 47%;
    margin-right: 4%;
  }

  .about_me_2 {
    width: 50%;
    padding-right: 3%;
  }

  .languages_content {
    display: flex;
    justify-content: flex-start;
  }

  .languages_content li {
    border-radius: 20px;
    width: 100px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .languages_content li b {
    padding: 0;
    margin-left: 0;
    margin-top: 10%;
  }

  .contact_me_footer {
    background-color: white;
    background-image: url("images/desktop_footer_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-me {
    max-width: 600px;
  }

  .footer_button {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 3%;
  }

  .paragraph {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .paragraph_card {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .image_nav {
    animation: rotate 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
