* {
  margin: 0;
  box-sizing: 0;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 0 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding-top: 24px;
}

.logo_nav {
  margin-left: 24px;
  width: 76px;
  display: inline-block;
}

.image_nav {
  width: 76px;
}

.menu_icon {
  margin-right: 36px;
  height: 12px;
  width: 18px;
}

.first_section {
  margin-top: 36px;
  background-image: url('images/mobile_background.svg');
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 120px;
  font-size: xxx-large;
}

.paragraph {
  margin-top: 15px;
  text-align: justify;
  font-size: large;
}

.connect {
  margin-top: 15px;
  color: #7f8cff;
  font-weight: 500;
}

.connect_anchor {
  text-decoration: none;
  color: #7f8cff;
  font-size: medium;
}

.social_icons {
  margin-top: 15px;
  padding: 0;
  margin-bottom: 100px;
  display: flex;
}

.social_icon {
  margin-right: 15px;
}

.icon {
  height: 20px;
}

li {
  list-style: none;
}

.button {
  padding: 15px 20px;
  font-size: large;
  font-style: bold;
  background-color: white;
  color: #396df2;
  border-radius: 10px;
  border: solid #396df2 1px;
}

.button:hover {
  color: white;
  background: #7f8cff;
}

.button:active {
  color: white;
  background: #2230d2;
}

.button:disabled {
  color: #5e6c84;
  background: white;
}

.main_section {
  background-color: white;
  margin: 114px 24px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 40% 55%;
  grid-template-columns: 100%;
  padding-bottom: 10px;
}

.content_card {
  margin: 25px 24px 0 24px;
}

.image_card {
  margin: 15px;
}

.title_card {
  font-size: xx-large;
  color: #172b4d;
}

.subtitle_card {
  display: flex;
  margin-top: 5px;
}

.first_subtitle_card {
  text-transform: uppercase;
  color: #344563;
}

.second_subtitle_card {
  color: #7a869a;
}

.point_icon {
  margin: 3px 10px;
}

.paragraph_card {
  margin-top: 15px;
  color: #344563;
}

.technologies {
  margin: 15px 0;
  padding: 0;
}

.technologies li {
  list-style: none;
  background-color: #ebebff;
  color: #6070ff;
  display: inline;
  margin-right: 5px;
  padding: 0 5px;
  border-radius: 5px;
  font-size: small;
}

.button_card {
  margin-top: 10px;
}

.about_myself_section {
  background-color: white;
  border-radius: 0 50px 0 0;
  padding: 20px 20px 100px 20px;
  color: #172b4d;
}

.bottom {
  padding-left: 0;
}

.languages {
  margin: 30px 0;
  margin-left: 20px;
  font-size: x-large;
  font-weight: 500;
}

.language {
  color: #253858;
  margin-left: 20px;
  font-weight: 500;
}

.languages_content {
  padding: 0;
  margin-left: 20px;
}

.languages_content li {
  background-color: #f7f7f9;
  margin: 15px 0;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.line {
  border-bottom: solid #dfe1e6 2px;
  margin-bottom: 0;
}

.second_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow_icon {
  height: 15px;
  padding: 5px;
  width: 10px;
}

.features {
  padding: 0;
}

.arrow_icon_active {
  transform: rotate(90deg);
}
